In [1]:
import nltk 
import pandas as pd
from textblob import TextBlob
from nltk.corpus import stopwords
nltk.download('stopwords') #download stopwords 
# from nltk import word_tokenize, sent_tokenize
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer

import re 

# pip intsalled textblob, nltk

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/darrensagucio/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv('reviews2.csv')
df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik..."
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ..."
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat..."
...,...,...,...,...,...,...
189562,49171098,749430159,2021-04-17,299144437,Emily,The inside was nice and clean. Slept great on ...
189563,49171098,749870802,2021-04-18,262248255,Ceara,We loved our stay at this mountain bus! easy t...
189564,49178262,750392276,2021-04-19,678204,Emily,We stayed at Mary's guest cottage at Wind Hors...
189565,49186464,749166591,2021-04-16,111190080,Kelly,Absolutely the best deal in town! The house is...
189566,49186464,749987373,2021-04-18,321796868,Jason,Cool place good price

In [3]:
lisa = df.loc[df['listing_id'] == 108061]
lisa

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik..."
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ..."
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat..."
...,...,...,...,...,...,...
84,108061,362131179,2018-12-25,24780260,Amanda,Great location - very walkable!
85,108061,414735355,2019-02-20,29963991,Seth,Great place
86,108061,431196728,2019-03-31,8738136,Elisabeth,Lisa's place was the perfect introduction to A...
87,108061,544206148,2019-10-09,13834879,Kristin,A fine place if you need somewhere close to do...
88,108061,570973929,2019-11-30,213592409,Ravyn,This is an amazing space in a great location w...

In [4]:
# not looking for great

In [5]:
selected_lisa = lisa[['date', 'comments']]
selected_lisa

          date                                           comments
0   2011-09-21  Lisa is superb hostess, she will treat you lik...
1   2011-11-01  This was a lovely little place walking distanc...
2   2011-11-13  Lisa was very nice to work with.  However, we ...
3   2012-07-21  I feel very lucky to have found this beautiful...
4   2012-08-19  Great roomy little apartment, beautiful privat...
..         ...                                                ...
84  2018-12-25                    Great location - very walkable!
85  2019-02-20                                        Great place
86  2019-03-31  Lisa's place was the perfect introduction to A...
87  2019-10-09  A fine place if you need somewhere close to do...
88  2019-11-30  This is an amazing space in a great location w...

[89 rows x 2 columns]

In [6]:
selected_lisa.dtypes

date        object
comments    object
dtype: object

In [7]:
copy_lisa_df = selected_lisa.copy()

In [8]:
# pre-proessing text 
# object is a string
copy_lisa_df['comments'] = copy_lisa_df['comments'].astype(str)
copy_lisa_df.dtypes

date        object
comments    object
dtype: object

In [9]:
copy_lisa_df['comments'][0]

'Lisa is superb hostess, she will treat you like family and provide you with the coziest little home in Asheville which will definitely enhance your experience of the magical town! Just like the Eco-retreat, the Private sunny apartment is a neat little flat with all you need for up to 3 people, the place was impeccable in lovely neighborhood. You can hardly beat this one!'

In [10]:
copy_lisa_df['comments'] = copy_lisa_df['comments'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [11]:
# lowercase 
copy_lisa_df['comments'][0]

'lisa is superb hostess, she will treat you like family and provide you with the coziest little home in asheville which will definitely enhance your experience of the magical town! just like the eco-retreat, the private sunny apartment is a neat little flat with all you need for up to 3 people, the place was impeccable in lovely neighborhood. you can hardly beat this one!'

In [12]:
# remove punctuation 
copy_lisa_df['comments'] = copy_lisa_df['comments'].str.replace(r'[^\w\s]','')
copy_lisa_df['comments'][0]

'lisa is superb hostess she will treat you like family and provide you with the coziest little home in asheville which will definitely enhance your experience of the magical town just like the ecoretreat the private sunny apartment is a neat little flat with all you need for up to 3 people the place was impeccable in lovely neighborhood you can hardly beat this one'

In [13]:
# stop words 
stop = stopwords.words('english')
copy_lisa_df['comments'] = copy_lisa_df['comments'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
copy_lisa_df['comments'][0]

'lisa superb hostess treat like family provide coziest little home asheville definitely enhance experience magical town like ecoretreat private sunny apartment neat little flat need 3 people place impeccable lovely neighborhood hardly beat one'

In [14]:
readable_lisa = copy_lisa_df['comments']
readable_lisa[0]

'lisa superb hostess treat like family provide coziest little home asheville definitely enhance experience magical town like ecoretreat private sunny apartment neat little flat need 3 people place impeccable lovely neighborhood hardly beat one'

In [15]:
# delete suffixes
suffix = PorterStemmer()
copy_lisa_df['comments'] = copy_lisa_df['comments'].apply(lambda x: " ".join([suffix.stem(word) for word in x.split()]))
copy_lisa_df['comments'][0]

'lisa superb hostess treat like famili provid coziest littl home ashevil definit enhanc experi magic town like ecoretreat privat sunni apart neat littl flat need 3 peopl place impecc love neighborhood hardli beat one'

In [16]:
def sentimentFunc(x):
    return TextBlob(x).sentiment

In [17]:
copy_lisa_df['score'] = copy_lisa_df['comments'].apply(sentimentFunc)
copy_lisa_df.head(20)

# polarity (1st score) assuming >.0 is positive [-1.0, 1.0]
# subjectity (2nd score) assuming >.50 is opinion (subjective) than factual information

,date,comments,score
0,2011-09-21,lisa superb hostess treat like famili provid c...,"(0.49375, 0.68125)"
1,2011-11-01,love littl place walk distanc downtown lisa re...,"(0.75, 0.44999999999999996)"
2,2011-11-13,lisa nice work howev didnt realiz hous old nor...,"(0.2491960420531849, 0.45850340136054424)"
3,2012-07-21,feel lucki found beauti home ashevil quiet cle...,"(0.3656862745098039, 0.5725490196078431)"
4,2012-08-19,great roomi littl apart beauti privat backyard...,"(0.9, 0.875)"
5,2012-08-25,lisa great host even came greet us pull drive ...,"(0.31333333333333335, 0.45)"
6,2012-09-11,excel locat downtown need cook facil us unders...,"(0.5142857142857143, 0.5285714285714286)"
7,2012-11-22,great locat good price apart suit need well 5 ...,"(0.2796296296296296, 0.33765432098765435)"
8,2012-12-11,place super cute clean great locat youll make ...,"(0.35944055944055936, 0.6670940170940172)"
9,2013-06-25,wonder time ashevil hous centrallyloc beauti f...,"(0.0, 0.0)"
10,2013-07-30,stay lisadavid place long bele chere weekend s...,"(0.17222222222222225, 0.5888888888888889)"
11,2013-10-02,sweet littl apart clean good light north downt...,"(0.3858974358974358, 0.5974358974358974)"
12,2013-10-04,found sweet spot last minut look place decompr...,"(0.25, 0.44523809523809527)"
13,2013-10-07,lisa could accommod place great backyard love ...,"(0.65, 0.675)"
14,2013-10-11,love apart 20 minut walk bar restaur downtown ...,"(0.4533333333333333, 0.6777777777777778)"
15,2013-10-14,lisa place great clean lot window bed super co...,"(0.3228571428571429, 0.4795238095238096)"
16,2013-10-17,great apart easi walk town shop like outdoor s...,"(0.65, 0.625)"
17,2013-10-29,place top notch airbnb accommod ador ashevil p...,"(0.21666666666666667, 0.44583333333333336)"
18,2013-10-31,perfect quiet getaway nice neighborhood gorgeo...,"(0.6333333333333334, 0.7472222222222222)"
19,2013-11-04,super comfort charm plenti space two fourleg f...,"(0.6466666666666667, 0.6733333333333333)"

In [18]:
copy_lisa_df['comments'][10]

'stay lisadavid place long bele chere weekend space quirki littl basement nice big bathroom gigant shower locat certainli walkabl downtown like walk take 15 min also close botan garden unca back yard patio nice give nice view ador neighborhood overal good experi lisa respons help stay complaint would slightli awkward use space front room apart chang furnitur differ couch photo fact bed comfort'

In [19]:
copy_lisa_df.dtypes

date        object
comments    object
score       object
dtype: object

In [20]:
readable_lisa[9]

'wonder time ashevil hous centrallyloc beauti furnish lot outdoor space lisa fantast host help us plan weekend stay would highli recommend stay would stay heartbeat'

In [50]:
copy_lisa_df['comments'][2]

'lisa nice work howev didnt realiz hous old normal would okay case meant floor us perman renter live squeaki first night stay couldnt sleep peopl us walk around 3am didnt hear walk around next night third night apart cute clean everyth need even back yard us take dog walk go winter youll heat wall heater close downtown right next greenlif groceri store locat nice'

In [22]:
copy_lisa_df['score'][2].polarity

0.2491960420531849

In [23]:
# word frequency
most_words_used = pd.Series(' '.join(copy_lisa_df['comments']).split()).value_counts()[:50]
most_words_used

place           67
lisa            65
great           64
stay            57
walk            50
downtown        47
us              42
nice            39
locat           38
ashevil         38
clean           37
apart           37
would           34
dog             33
comfort         26
perfect         26
love            25
easi            24
need            24
back            23
hous            23
recommend       23
bed             22
host            22
space           21
enjoy           20
also            20
coffe           19
close           19
michel          19
definit         18
everyth         18
even            18
realli          17
yard            17
conveni         17
around          17
bathroom        17
time            17
littl           17
thank           17
like            16
could           16
store           16
backyard        16
neighborhood    16
get             15
groceri         15
well            14
minut           13
dtype: int64

# count frequencies with sentiment analysis

In [24]:
copy_lisa_df['score'][0].polarity

0.49375

In [25]:
polarity_scores = []
# [copy_lisa_df['score'][num].polarity for num in copy_lisa_df['comments']]

In [26]:
for num in range(len(copy_lisa_df['comments'])):
    polarity_scores.append(copy_lisa_df['score'][num].polarity)

polarity_scores

[0.49375,
 0.75,
 0.2491960420531849,
 0.3656862745098039,
 0.9,
 0.31333333333333335,
 0.5142857142857143,
 0.2796296296296296,
 0.35944055944055936,
 0.0,
 0.17222222222222225,
 0.3858974358974358,
 0.25,
 0.65,
 0.4533333333333333,
 0.3228571428571429,
 0.65,
 0.21666666666666667,
 0.6333333333333334,
 0.6466666666666667,
 0.28809523809523807,
 0.37222222222222223,
 0.5,
 0.22575757575757577,
 0.5750000000000001,
 0.2380050505050505,
 0.2605050505050505,
 0.2857142857142857,
 0.5149999999999999,
 0.6133333333333334,
 0.22046807359307358,
 0.2606060606060606,
 0.6100000000000001,
 0.22714285714285715,
 0.43333333333333335,
 0.8000000000000002,
 0.4333333333333334,
 0.2,
 0.3916666666666667,
 0.5599999999999999,
 0.5681818181818182,
 0.25416666666666665,
 0.5,
 0.07205882352941176,
 0.45999999999999996,
 0.5,
 0.6000000000000001,
 0.0,
 0.3485714285714286,
 0.5087301587301587,
 0.2974402409185018,
 0.17595959595959595,
 0.6666666666666666,
 0.2833333333333333,
 0.27999999999999997,
 0.5666666666666667,
 0.5952380952380952,
 0.5458333333333334,
 0.1,
 0.6250000000000001,
 0.5666666666666668,
 0.26666666666666666,
 0.4666666666666668,
 0.2916666666666667,
 0.4083333333333333,
 0.4166666666666667,
 0.2888888888888889,
 0.15892857142857142,
 0.3295454545454546,
 0.34166666666666673,
 0.18076923076923082,
 0.5,
 0.8666666666666667,
 0.32222222222222224,
 0.225,
 0.41111111111111115,
 0.17777777777777778,
 0.44236111111111115,
 0.37777777777777777,
 0.20735930735930733,
 0.44999999999999996,
 0.275,
 0.2958333333333333,
 0.0,
 0.8,
 0.8,
 0.46441558441558434,
 0.31666666666666665,
 0.4166666666666667]

In [27]:
# sentiment_category = ['morepostive' if score >= .50
#                          else 'lesspositive' if score <.50 and score >0
#                              else 'lessnegative' if score <0 and score>-.50
#                                  else 'morenegative' if score <-.50
#                                       for score in range(len(copy_lisa_df['comments']))]

In [28]:
##### CHECKING CODE
# negative_nums = [-0.51,-0.49]
# test_nums = []

In [29]:
# for testscore in range(len(negative_nums)):
#     if negative_nums[testscore] <0 and negative_nums[testscore]>-.50:
#         test_nums.append('lessnegative')
#     elif negative_nums[testscore] <-.50:
#         test_nums.append('morenegative')
#     else:
#         test_nums.append('huh')

In [30]:
# test_nums

In [31]:
sentiment_category = []

In [32]:
for score in range(len(polarity_scores)):
    if polarity_scores[score] >= .50:
        sentiment_category.append('morepositve')
    elif polarity_scores[score] <.50 and polarity_scores[score] >0:
        sentiment_category.append('lesspositive')
    elif polarity_scores[score] <0 and polarity_scores[score] >-.50:
        sentiment_category.append('lessnegative')
    elif polarity_scores[score] <-.50:
        sentiment_category.append('morenegative')
    else:
        sentiment_category.append('neutral')

In [33]:
len(sentiment_category)

89

In [34]:
clean_df = copy_lisa_df.copy()
clean_df

,date,comments,score
0,2011-09-21,lisa superb hostess treat like famili provid c...,"(0.49375, 0.68125)"
1,2011-11-01,love littl place walk distanc downtown lisa re...,"(0.75, 0.44999999999999996)"
2,2011-11-13,lisa nice work howev didnt realiz hous old nor...,"(0.2491960420531849, 0.45850340136054424)"
3,2012-07-21,feel lucki found beauti home ashevil quiet cle...,"(0.3656862745098039, 0.5725490196078431)"
4,2012-08-19,great roomi littl apart beauti privat backyard...,"(0.9, 0.875)"
...,...,...,...
84,2018-12-25,great locat walkabl,"(0.8, 0.75)"
85,2019-02-20,great place,"(0.8, 0.75)"
86,2019-03-31,lisa place perfect introduct ashevil live resp...,"(0.46441558441558434, 0.6271428571428571)"
87,2019-10-09,fine place need somewher close downtown unca i...,"(0.31666666666666665, 0.6125)"
88,2019-11-30,amaz space great locat wonder host lisa quick ...,"(0.4166666666666667, 0.6138888888888889)"

In [38]:
clean_df["polarity score"] = polarity_scores
clean_df["sentiment category"] = sentiment_category

In [39]:
clean_df

,date,comments,score,polarity score,sentiment category
0,2011-09-21,lisa superb hostess treat like famili provid c...,"(0.49375, 0.68125)",0.493750,lesspositive
1,2011-11-01,love littl place walk distanc downtown lisa re...,"(0.75, 0.44999999999999996)",0.750000,morepositve
2,2011-11-13,lisa nice work howev didnt realiz hous old nor...,"(0.2491960420531849, 0.45850340136054424)",0.249196,lesspositive
3,2012-07-21,feel lucki found beauti home ashevil quiet cle...,"(0.3656862745098039, 0.5725490196078431)",0.365686,lesspositive
4,2012-08-19,great roomi littl apart beauti privat backyard...,"(0.9, 0.875)",0.900000,morepositve
...,...,...,...,...,...
84,2018-12-25,great locat walkabl,"(0.8, 0.75)",0.800000,morepositve
85,2019-02-20,great place,"(0.8, 0.75)",0.800000,morepositve
86,2019-03-31,lisa place perfect introduct ashevil live resp...,"(0.46441558441558434, 0.6271428571428571)",0.464416,lesspositive
87,2019-10-09,fine place need somewher close downtown unca i...,"(0.31666666666666665, 0.6125)",0.316667,lesspositive
88,2019-11-30,amaz space great locat wonder host lisa quick ...,"(0.4166666666666667, 0.6138888888888889)",0.416667,lesspositive

In [41]:
classify_df =  pd.get_dummies(clean_df)
classify_df.columns

Index(['polarity score', 'date_2011-09-21', 'date_2011-11-01',
       'date_2011-11-13', 'date_2012-07-21', 'date_2012-08-19',
       'date_2012-08-25', 'date_2012-09-11', 'date_2012-11-22',
       'date_2012-12-11',
       ...
       'score_Sentiment(polarity=0.65, subjectivity=0.675)',
       'score_Sentiment(polarity=0.6666666666666666, subjectivity=0.8333333333333333)',
       'score_Sentiment(polarity=0.75, subjectivity=0.44999999999999996)',
       'score_Sentiment(polarity=0.8, subjectivity=0.75)',
       'score_Sentiment(polarity=0.8000000000000002, subjectivity=0.75)',
       'score_Sentiment(polarity=0.8666666666666667, subjectivity=0.9833333333333334)',
       'score_Sentiment(polarity=0.9, subjectivity=0.875)',
       'sentiment category_lesspositive', 'sentiment category_morepositve',
       'sentiment category_neutral'],
      dtype='object', length=268)

In [43]:
clean_df['lesspostive']= classify_df['sentiment category_lesspositive']
clean_df['morepostive']= classify_df['sentiment category_morepositve']
clean_df['neutral']= classify_df['sentiment category_neutral']

In [44]:
clean_df

,date,comments,score,polarity score,sentiment category,lesspostive,morepostive,neutral
0,2011-09-21,lisa superb hostess treat like famili provid c...,"(0.49375, 0.68125)",0.493750,lesspositive,1,0,0
1,2011-11-01,love littl place walk distanc downtown lisa re...,"(0.75, 0.44999999999999996)",0.750000,morepositve,0,1,0
2,2011-11-13,lisa nice work howev didnt realiz hous old nor...,"(0.2491960420531849, 0.45850340136054424)",0.249196,lesspositive,1,0,0
3,2012-07-21,feel lucki found beauti home ashevil quiet cle...,"(0.3656862745098039, 0.5725490196078431)",0.365686,lesspositive,1,0,0
4,2012-08-19,great roomi littl apart beauti privat backyard...,"(0.9, 0.875)",0.900000,morepositve,0,1,0
...,...,...,...,...,...,...,...,...
84,2018-12-25,great locat walkabl,"(0.8, 0.75)",0.800000,morepositve,0,1,0
85,2019-02-20,great place,"(0.8, 0.75)",0.800000,morepositve,0,1,0
86,2019-03-31,lisa place perfect introduct ashevil live resp...,"(0.46441558441558434, 0.6271428571428571)",0.464416,lesspositive,1,0,0
87,2019-10-09,fine place need somewher close downtown unca i...,"(0.31666666666666665, 0.6125)",0.316667,lesspositive,1,0,0
88,2019-11-30,amaz space great locat wonder host lisa quick ...,"(0.4166666666666667, 0.6138888888888889)",0.416667,lesspositive,1,0,0

In [46]:
# look for positive comments 
morepostive_df = clean_df.loc[clean_df['sentiment category'] == 'morepositve']
morepostive_df

,date,comments,score,polarity score,sentiment category,lesspostive,morepostive,neutral
1,2011-11-01,love littl place walk distanc downtown lisa re...,"(0.75, 0.44999999999999996)",0.750000,morepositve,0,1,0
4,2012-08-19,great roomi littl apart beauti privat backyard...,"(0.9, 0.875)",0.900000,morepositve,0,1,0
6,2012-09-11,excel locat downtown need cook facil us unders...,"(0.5142857142857143, 0.5285714285714286)",0.514286,morepositve,0,1,0
13,2013-10-07,lisa could accommod place great backyard love ...,"(0.65, 0.675)",0.650000,morepositve,0,1,0
16,2013-10-17,great apart easi walk town shop like outdoor s...,"(0.65, 0.625)",0.650000,morepositve,0,1,0
18,2013-10-31,perfect quiet getaway nice neighborhood gorgeo...,"(0.6333333333333334, 0.7472222222222222)",0.633333,morepositve,0,1,0
19,2013-11-04,super comfort charm plenti space two fourleg f...,"(0.6466666666666667, 0.6733333333333333)",0.646667,morepositve,0,1,0
22,2013-12-16,cozi comfort place walk distanc everyth need love,"(0.5, 0.6)",0.500000,morepositve,0,1,0
24,2014-03-15,experi lisa david hous great separ apart clean...,"(0.5750000000000001, 0.675)",0.575000,morepositve,0,1,0
28,2014-04-14,great basement apart close downtown fiancé loo...,"(0.5149999999999999, 0.725)",0.515000,morepositve,0,1,0
29,2014-04-19,wonder spot place clean comfort great location...,"(0.6133333333333334, 0.65)",0.613333,morepositve,0,1,0
32,2014-05-08,space perfect look close downtown area plenti ...,"(0.6100000000000001, 0.6900000000000001)",0.610000,morepositve,0,1,0
35,2014-05-22,great space great locat great valu would defin...,"(0.8000000000000002, 0.75)",0.800000,morepositve,0,1,0
39,2014-06-29,absolut love place perfect spot us dog sophi l...,"(0.5599999999999999, 0.6566666666666667)",0.560000,morepositve,0,1,0
40,2014-07-03,expect met exceed great place stay day ashevil...,"(0.5681818181818182, 0.687878787878788)",0.568182,morepositve,0,1,0
42,2014-07-19,wonder stay ashvil host provid wonder accommod...,"(0.5, 0.7444444444444445)",0.500000,morepositve,0,1,0
45,2014-08-01,place perfect locat within easi walk distanc d...,"(0.5, 0.4875)",0.500000,morepositve,0,1,0
46,2014-08-05,enjoy stay lisa apart conveni locat plenti spa...,"(0.6000000000000001, 0.625)",0.600000,morepositve,0,1,0
49,2014-08-14,great stay lisa place apart clean nice decor y...,"(0.5087301587301587, 0.71984126984127)",0.508730,morepositve,0,1,0
52,2014-09-08,stay basement apart wonder perfect size two be...,"(0.6666666666666666, 0.8333333333333333)",0.666667,morepositve,0,1,0
55,2014-09-18,enjoy pleasant stay conveni locat everyth need...,"(0.5666666666666667, 0.7333333333333334)",0.566667,morepositve,0,1,0
56,2014-09-19,space perfect place stay night ashevil mom vis...,"(0.5952380952380952, 0.7119047619047619)",0.595238,morepositve,0,1,0
57,2014-09-20,great first airbnb experi stay lisa place mich...,"(0.5458333333333334, 0.5833333333333333)",0.545833,morepositve,0,1,0
59,2014-09-26,group great experi stay place clean photo clea...,"(0.6250000000000001, 0.7375)",0.625000,morepositve,0,1,0
60,2014-09-29,lisa michel accommod arriv time easi get ahold...,"(0.5666666666666668, 0.75)",0.566667,morepositve,0,1,0
71,2015-09-30,enjoy time lisa apart nice decor peac love yard,"(0.5, 0.7000000000000001)",0.500000,morepositve,0,1,0
72,2015-10-17,lisa welcom told us sever place eat could find...,"(0.8666666666666667, 0.9833333333333334)",0.866667,morepositve,0,1,0
84,2018-12-25,great locat walkabl,"(0.8, 0.75)",0.800000,morepositve,0,1,0
85,2019-02-20,great place,"(0.8, 0.75)",0.800000,morepositve,0,1,0

In [55]:
morepostive_df.columns

Index(['date', 'comments', 'score', 'polarity score', 'sentiment category',
       'lesspostive', 'morepostive', 'neutral'],
      dtype='object')

In [48]:
most_words_used_morepostive = pd.Series(' '.join(morepostive_df['comments']).split()).value_counts()[:50]
most_words_used_morepostive

great           31
stay            21
place           20
lisa            18
locat           15
perfect         15
walk            14
us              11
downtown        11
would           10
ashevil         10
dog             10
apart           10
love             8
easi             8
michel           8
need             8
everyth          8
hous             8
thank            8
enjoy            8
comfort          7
close            6
conveni          6
yard             6
time             6
space            6
recommend        5
clean            5
backyard         5
minut            5
host             5
wonder           5
plenti           4
distanc          4
neighborhood     4
area             4
experi           4
nice             4
around           4
get              4
littl            4
look             3
question         3
cool             3
accommod         3
visit            3
say              3
spaciou          3
deck             3
dtype: int64

In [59]:
morepostive_df['polarity score'].describe()

count    29.000000
mean      0.625078
std       0.115004
min       0.500000
25%       0.545833
50%       0.600000
75%       0.650000
max       0.900000
Name: polarity score, dtype: float64

In [35]:
# copy_lisa_df['comments'] = copy_lisa_df['comments'].str.replace('[^ws]','')
# copy_lisa_df['comments'][0]
# copy_lisa_df['comments'] = copy_lisa_df['comments'].str.replace(r'[^\w\s]','')
# copy_lisa_df['comments'][5]

# string1 = "why . is String not working!"
# change = re.sub(r'[^\w\s]', '', string1)
# change

# string =re.sub(r'[^\w\s]', '', copy_lisa_df['comments'][0])
# string

In [36]:
# look for positive comments 
# https://data-science-blog.com/en/blog/2018/11/04/sentiment-analysis-using-python/

In [37]:
# counting frequencies 
# https://programminghistorian.org/en/lessons/counting-frequencies